{% load static %}

<html>
<head>
    <title>Calls Information</title>
    <link rel="stylesheet" href="{% static 'test_app/style.css' %}">
</head>
<body>
    <h1>{{ticker}} Calls Expiring Within The Next Seven Days</h1>
    <form action="{% url 'main_page' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Return to Main Page"/>
    </form>
    {% for entry in call_list %}
        <h3>{{entry.get_date}}</h3>
        <table>
            <tr>
                <th>Strike Price</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Premium</th>
            </tr>
            {% for call in entry.get_calls %}
            <tr>
                <td>${{call.strike_price}}</td>
                <td>${{call.bid}}</td>
                <td>${{call.ask}}</td>
                <td>${{call.premium}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body>
</html>