
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Please enter your login information</h1><br/>
    <h2>{{error_message}}</h2>
    <form action="{% url 'login_attempt'  %}" method="POST">
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name="username"/><br/>
        <p>Password</p>
        <input type="password" name="password"/><br/>
        <input type="submit" value="Login"/>
    </form>
    <h3>Register an Account</h3>
    <form action ="{% url 'register_user' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Register as a User"/>
    </form>
    <h3>Register an Analyst Account</h3>
    <form action ="{% url 'register_analyst' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Register as an Analyst"/>
    </form>

</body>
</html>