{% load static %}

<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'test_app/style.css' %}">
</head>
<body>
    <h1>Welcome {{username}}</h1><br>
    <h2>{{error_message}}</h2><br>
    <h3>Search a Ticker</h3>
    <form action="{% url 'searching_ticker' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="ticker"/>
        <input type="submit" name="submit"/><br/>
    </form>
    <h3>Search for a Analysis</h3>
    <form action="{% url 'user_search_analysis' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="analysis"/>
        <input type="submit" name="submit" value="Search"/><br/>
    </form>
    <h3>View My Watchlist</h3>
    <form action="{% url 'watchlist' %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="watchlist" value="View"/>
    </form>
    <h3>View Viewed History</h3>
    <form action="{% url 'viewed_history' %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="viewed_history" value="View"/>
    </form>
</body>
</html>