<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}

<html>
<head>
    <title>Viewed History</title>
    <link rel="stylesheet" href="{% static 'test_app/history.css' %}">
</head>
<body>
    <h2>Last 10 Searches for {{username}}</h2>
    <form action="{% url 'main_page' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Return to Main Page"/>
    </form>
    {% for record in history_list %}
        <h5> <em>{{record.ticker.ticker}}</em> | {{record.date_viewed}}</h5>
            <form action="{% url 'viewed_history_search' %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="{{record.ticker.ticker}}" value="View stock info" class="view"/>
            </form>
    {% endfor %}
</body>
</html>